template(name="chatAndRide")
  .page.chatAndRide
    +topBar
    section.rideArea
      +rideArea
    section.chatArea
      +chatArea

template(name="topBar")
  .topBar
    span.js-back.icon-arrow-left
    h1 3 amigos indo para UFRJ
    button.toggleChat.tcon.tcon-grid.tcon-grid--rearrange(type="button" aria-label="Toggle Chat")
      span.tcon-grid__item(aria-hidden="true")
      span.tcon-visuallyhidden Toggle Chat
