/*video {*/
  /*position: fixed; right: 0; bottom: 0;*/
  /*min-width: 100%; min-height: 100%;*/
  /*width: auto; height: auto; z-index: -100;*/
  /*background: url(../images/video-poster.jpg) no-repeat;*/
  /*background-size: cover;*/
/*}*/

html, body {
  height: 100%;
}

.page.login {
  .display(flex);
  .flex-direction(column);
  .justify-content(space-around);
  .align-content(center);
  .align-items(center);
  height: 100%;
  height: 100vh;

  .row {
    height: 100%;
  }

  vertical-align: center;
  text-align: center;

  .btn-facebook {
    /*margin-top: 40%;*/
  }
  
  h1 {
    .type-secondary();
    .font-l4();
    color: @color-empty;
    text-align: center;

    p {
      margin-top: 1rem;
      .type-bold();
      .font-m2();
    }
  }
}
