template(name="login")
  //-.page.login 
    //-video(autoplay, loop, poster, webkit-playsinline)
      //-source(src="videos/Traffic_and_Clouds_Videvo.webm", type="video/webm")
      //-source(src="videos/Traffic_and_Clouds_Videvo.mp4", type="video/mp4")
    //-h1 bigu
      //-p Carona, universitária!
    //-button.btn-facebook Logar com Facebook 
  .page.bg-image.login
    h1 bigu
      p Carona, universitária!
    button.button.button-full.btn-facebook Logar com Facebook 
