// Core
@color-primary: @dark-orange; // blood orange
@color-secondary: @not-white; //
@color-tertiary: @orange; //
@color-complementary: @soft-orange; //

@darker-orange: #FF9933;
@dark-orange: #FFB366;
@orange: #FFCC99;
@soft-orange: #FFFFCC;
@not-white: #FFF7EF;


// Social Colors
@color-twitter: #46c8f5;
@color-facebook: #3b5998;

// Alert
@color-negative: #ff6622; //error, alert


// Greyscale
@color-empty: white;
@color-raw: #f8f8f8;
@color-raw-alt: #f2f2f2;
@color-rare: #eee;
@color-medium-rare: #ccc;
@color-medium: #aaa;
@color-medium-well: #666;
@color-well: #555;
@color-full: #333;



