template(name="appLayout")
  +ionBody
    +ionNavBar(class="bar-stable")
    +ionNavView
      +yield
    if isAndroid
      +ionTabs(style="android")
        +ionTab(title="Caronas" path="recent" icon="android-car")
        +ionTab(title="Chats" path="chat" icon="android-chat")
        +ionTab(title="Configurações" path="settings" icon="android-settings")
    else
      +ionTabs(style="ios")
        +ionTab(title="Caronas" path="recent" iconOff="ios-navigate-outline" iconOn="ios-navigate" class="tab-item-positive")
        +ionTab(title="Chats" path="chat" iconOff="ios-chatbubble-outline" iconOn="ios-chatbubble" class="tab-item-positive")
        +ionTab(title="Configurações" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear" class="tab-item-positive")
