template(name="chatShow")
  +contentFor("headerTitle")
    h1.title Conversa 
    
  +contentFor("headerButtonLeft")
    +ionNavBackButton(class="button-positive" text="Chats") 

  +contentFor("headerButtonRight")
    button.button.button-clear.button-positive.pull-right
      +ionIcon(icon="ios-plus-empty")


  +ionView
    +ionContent(class="padding")
      each messages
        +message
    +messageBar
  
template(name="message")
  if(isReceived userId)
    .messages.received 
      .msg
        .bubble #{message}
          span.time {{livestamp sentAt}}
      img.avatar(src="#{user.services.facebook.avatar}")
  else
    .messages
      img.avatar(src="#{user.services.facebook.avatar}")
      .msg
        .bubble #{message}
          span.time {{livestamp sentAt}}

template(name="messageBar")
    .touchLayer
    +ionFooterBar(class="item-input-inset" attachKeyboard="true")
      label(class="item-input-wrapper")
        input#msg(type="text")
      button#btnEnviar.button.button-clear Enviar
