template(name="carona")
  +contentFor("headerTitle")
    h1.title Carona


  +ionView
    +ionContent
      .list
        .item.item-avatar
          img(src="avatar.png")
          h2 UFRJ 
          p Fundão – 10 caronas em andamento 
        .item.item-avatar
          img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/c0.23.191.191/554661_498478183495583_805480908_n.jpg?oh=d1f97fb5daa2a17396c0dd12c1fdd37e&oe=55909B77&__gda__=1431138070_acebd3ef79d3a25ae226d20da812a20c")
          h2 Gabriel Almeida
          p 13:25 – to na ponte já
        .item.item-avatar
          img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p320x320/10898295_853475598047483_1857096459740905221_n.jpg?oh=03135019c02d2f8fd92c1aac04bc2446&oe=55642B38&__gda__=1431801221_56f5322d37a6990a0d8030f2ec1174bb")
          h2 Henrique Maio 
          p 22:55 – Amanhã passo aí as 8h einn 
