template(name="reportBug")
  +contentFor("headerTitle")
    h1.title Reportar Bug 

  +contentFor("headerButtonLeft")
    +ionNavBackButton(class="button-positive" text=false)

  +ionView
    +ionContent
      .list
        .item.item-divider
        .card
            .item.item-text-wrap
              | Para reportar um bug basta ativar o "Modo Buggy" abaixo e 
              | balançar o seu celular, você terá então a opção de gravar sua tela, aúdio e face para 
              | descrever o problema. Seja sucinto e vá direto para o ponto em questão, assim o vídeo
              | fica bem curtinho e consertaremos bem rapidinho!
              | Obrigado por nos ajudar.
        .item-divider
        .item.item-toggle Modo Buggy
          label.toggle.toggle-positive
            input(name="buggy-mode" type="checkbox")
            .track
              .handle
              
       
