template(name="settings")
  +contentFor("headerTitle")
    h1.title Configurações 

  +ionView
    +ionContent
      +settingsList
      +logoutButton

template(name="settingsList")
  +ionList
    +ionItem(class="item-divider")

    +ionItem(iconRight="true") 
      | Sobre
      +ionIcon(icon="ios-arrow-right")

    +ionItem(iconRight="true") 
      | Compartilhar o Bigu
      +ionIcon(icon="ios-arrow-right")

    +ionItem(class="item-divider")

    +ionItem(iconRight="true") 
      | Perfil 
      +ionIcon(icon="ios-arrow-right")

    +ionItem(iconRight="true") 
      | Universidade 
      +ionIcon(icon="ios-arrow-right")

    +ionItem(iconRight="true") 
      | Notificações 
      +ionIcon(icon="ios-arrow-right")

    +ionItem(class="item-divider")

    +ionItem(iconRight="true") 
      | Termos de Uso 
      +ionIcon(icon="ios-arrow-right")

    +ionItem(iconRight="true" path="report.bug") 
      | Reportar Bug 
      +ionIcon(icon="ios-arrow-right")

template(name="logoutButton")
  button.logout.btn-facebook.button.button-full Logout
