template(name="message")
  if(isReceived userId)
    .messages.received 
      .msg
        .bubble #{message}
          span.time {{livestamp sentAt}}
      img.avatar(src="#{user.services.facebook.avatar}")
  else
    .messages
      img.avatar(src="#{user.services.facebook.avatar}")
      .msg
        .bubble #{message}
          span.time {{livestamp sentAt}}

template(name="messageBar")
    .touchLayer
    .messageBar(data-keyboard-attach="true")
      input.messageBox(type="text")
      button.sendBtn Enviar

template(name="topBar")
  .topBar
    h1 3 amigos indo para UFRJ
    .toggleChat.icon-chat

template(name="messages")
  .content-scrollable
    each messages
      +message

template(name="chatRoom")
  .page.chatRoom
    +topBar
    section.ride
    section.chat
      +messages
    +messageBar
