template(name="chatArea")
  +messagesContainer
  +messageBar

template(name="messagesContainer")
    .content-scrollable.restoreScroll
      if(isReady)
        if(hasMessages)
          each messages
            +message
        else
            +noMessages
      else
        +loadingMessages

template(name="message")
  if(isReceived userId)
    .messages.received 
      img.avatar(src="#{user.services.facebook.avatar}")
      .msg
        .bubble
          span.name #{user.services.facebook.name}
          | #{message}
          span.info {{time sentAt}}
  else
    .messages
      .msg
        .bubble 
          | #{message}
          span.info {{time sentAt}}
    
template(name="messageBar")
    .touchLayer
    .messageBar(data-keyboard-attach="true")
      textarea.messageBox(rows="1")
      button.sendBtn Enviar

template(name="loadingMessages")
  img.loadingMessages(src="/img/app/chat-loading.gif")

template(name="noMessages")
  .noMessages
    +loadingMessages
    | Nenhuma mensagem! <br/>
    | Que tal você enviar uma?
